<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="refresh" content="10" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="https://kit.fontawesome.com/ae18a9a0a4.js" crossorigin="anonymous"></script>
	
	{% load static %}
	<link rel="stylesheet" href='{% static "main.css" %}' >	
	
	
    <title>MenuWhiz</title>
  </head>
  <body>
  
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<a class="navbar-nav">
			<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"> 
				{% load static %}
			<img src='{% static "menubars.png" %}' style="height:60px; float:left;" />
			</button>
			</a>
		</div>
		<div class="mx-auto order-0">
			<class="navbar-brand mx-auto"> 
				{% load static %}
				<img src='{% static "logo.png" %}' width="300" height="150" onclick="location.href = '/menu'">
				
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			

        </div>

        <div id="id01" class="modal">
      
            <class="modal-content">
				
				<button class=" btn btn-outline-dark" style="width:100%; background-color: #B8E2F1" onclick="location.href = '/profile'">View Profile</button>
			
				</br> </br> </br>
				
                <button type="button" class=" btn btn-outline-dark" style="width:100%; background-color: #B8E2F1" onclick="location.href = '/orders'">View list of current orders</button>
				</br> </br> </br>
                
                    
                    <div class="clearfix">
						<button type="submit" style="width:100%; background-color: red" onclick="location.href = '/signout'">Sign Out</button>
						
						</br> </br> </br>
						
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" style="width:100%;">Close</button>
							
                        
                    </div>
                
            
        </div>
	</nav>
	<div class="reg_bottom">
		<div class="container">
			<div style="max-width:750px;margin:auto; text-align: center" class="pt-5">
    
				{% block content %}
	
	
	
				{% endblock %}
	
			</div>
		</div>
	</div>
	

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>