body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;  
}
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
  }

  header{
    height: 100vh;
    width: 100%;
  }
 .reg_bottom{
    height: 70vh;
    width: 100%;
  }

  .input-icons i { 
    position: absolute; 
    padding-top: 24px;
    padding-left: 10px;
    color: #343a40;
    ;
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
  width: 100% !important;
  padding: 20px;
  padding-left: 35px;
  border: none;
  border-bottom: 1px solid #CB7574;
} 
.input-field:focus { 
  width: 100%;
  padding: 20px;
  padding-left: 35px;
  border: 1px solid #343a40;
} 
.btn-outline-dark {
  border-color: #CB7574;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #CB7574;
  border-color: #CB7574;
}

header.masthead {
  position: relative;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  header.masthead h1 {
    font-size: 2.2rem;
  }
}

a {
  color: #d00000;
}
a:hover {
  color: #ff0000;
}
.smooth-white-bg a {
  color: #d00000;
}
.smooth-black-bg a {
  color: #ff6666;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-primary {
  color: #fff !important;
  background-color: #cb7575;
  border-color: #8a0000;
}

.btn-primary:hover {
  color: #000000 !important;
  background-color: #cb7575;
  border-color: #8a0000;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #d00000;
  border-color: #8a0000;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #cb7575;
  border-color: #8a0000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}



.logo {
  width: 28rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.smooth-black-bg {
  background-image: linear-gradient(to right, black, #3f3f3f, #3f3f3f, black);
  color: white;
}

.smooth-white-bg {
  background-image: linear-gradient(to right, #e6e6e6, white, white, #e6e6e6);
  color: #3f3f3f;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}